<section class="content">   
    <section class="banner">
        <img src="../../assets/img/banner.jpg" />
</section>  
     <section class="profile-section">
        <section class="profile-section">
            <section class="profile-section">
                <div class="profile-header">
                    <img src="../../assets/img/test-backup.jpg" alt="Profile Picture" class="profile-picture">
                    <div class="profile-info">
                    
                        <div class="profile-buttons">
                            <button class="profile-button">Cunoasterea naturii umane</button>
                            <button class="profile-button">Prietenie</button>
                        </div>
                    </div>
                </div>
                <div class="profile-description">
                    <p>O idee bine formulată poate persista în timp, modelând și definind mentalitatea multor generații. Filosofia, "iubirea de înțelepciune", este pragmatismul înțelepților, care au înțeles adâncimea și înălțimea, atemporalitatea și aspatialitatea relativă a existenței noastre, răspunsul la întrebarea "a fi sau a nu fi", în spatele celor spuse, ceea ce nu se poate rosti. Viețile și experiențele noastre individuale și colective sunt modelate de filosofiile noastre individuale și colective de viață.</p>
                </div>
                <div class="profile-sections">
                        <h3>Autori născuți în această zi</h3>
                        <p>În căutarea sensului și țesând idei ascunse Autorii născuți azi, zâmbesc voioși și mândri:</p>
                        <div class="author-list">
                        <div class="author-item" *ngFor="let nascut of nascut_azi">
                            <img [src]="nascut.image_path" alt="{{ nascut.name }}">
                            <h4>{{ nascut.name }}</h4>
                        </div>
                    </div>
                    
                        <h3>Autori care au decedat azi</h3>
                        <p>Amintirea lor, o fantana de intelepciuni, in sufletul nostru, eterna sa ramana:</p>
                        <div class="author-list">
                            <div class="author-item" *ngFor="let decedat of decedat_azi">
                                <img  [src]="decedat.image_path" alt="nu merge" [style.width]="img_w" [style.height]="'auto'"> 
                                <h4>{{ decedat.name }}</h4>
                            
                        </div>
                    </div>
                </div>
            </section>
            <div class="profile-sections">
                <section class="salut-section">
                    <div class="salut-content">
                        <div class="salut-text">
                            <h2 class="salut-title">Salut,</h2>
                            <p class="salut-quote">"Verba volant, Scripta manent"<br>"vorbele zboara, scrisul ramane"</p>
                        </div>
                        <div class="salut-description">
                            <p>O idee bine formulată poate persista în timp, modelând și definind mentalitatea multor generații. 
                                Filosofia, "iubirea de înțelepciune", este pragmatismul înțelepților, care au înțeles adâncimea și 
                                înălțimea, atemporalitatea și aspațialitatea relativă a existenței noastre, răspunsul la întrebarea 
                                "a fi sau a nu fi", în spatele celor spuse, ceea ce nu se poate rosti. Viețile și experiențele 
                                noastre individuale și colective sunt modelate de filosofiile noastre individuale și colective de 
                                viață. Explorați înțelepciunea veacurilor cu colecția noastră de citate filosofice. Descoperiți idei
                                 de la gânditori din toate secolele și contribuiți cu propriile dvs. traduceri în limbile lipsă. 
                                 Alăturați-vă astăzi comunității noastre de exploratori filosofici!</p>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        
        <section class="donate-section">
            <div class="header-row">
                <h2 class="bold">Donate</h2>
                <p class="scris">Prin donațiile dvs., ne ajutați să construim o bibliotecă și să generăm conținut original, atât online cât și offline (carți, artă plastică).<br> <br> <a class="citeste" href="/donate" routerLink="/donate" routerLinkActive="active" >->Citește mai mult...</a> </p>
            </div>
        </section>

        <section class="imagine">
            <img src="../../assets/img/banner_2.jpg" alt="Banner Image">
        </section>

        <section class="sponsors-section">
            <div class="header-row">
                <h2 class="bold">Sponsors</h2>
                <p class="scris1">We are proud to collaborate with companies that value sharing and supporting values.</p>
            </div>
            <h4 class="subtitle">Companii</h4>
        </section>
        
        <section class="collaboration-section">
            <div class="companies-list">
                <div class="company-item">
                    <h3 class="company-name">A&C Consulting Center</h3>
                    <p class="company-website">accc.ro</p>
                </div>
                <div class="company-item">
                    <h3 class="company-name">A&C Consulting Center</h3>
                    <p class="company-website">accc.ro</p>
                </div>
                <div class="company-item">
                    <h3 class="company-name">A&C Consulting Center</h3>
                    <p class="company-website">accc.ro</p>
                </div>
                <div class="company-item">
                    <h3 class="company-name">A&C Consulting Center</h3>
                    <p class="company-website">accc.ro</p>
                </div>
            </div>
        </section>

        <section class="about-section">
            <div class="header-row">
                <h2 class="bold">About Us</h2>
                <p class="scris">Culturile locale sunt de o importanță globală. Prin comunitatea noastră, încurajăm explorarea și înțelegerea diversității culturale și lingvistice.<br> <br> <a class="citeste">-> Citește mai mult...</a></p>
            </div>
        </section>

        <section class="imagine">
            <img src="../../assets/img/banner_3.jpg" alt="Banner Image">
        </section>

        <section class="collaboration-section">
            <div class="header-row">
                <h2 class="bold">Colaborare</h2>
                <p class="scris1">We are proud to collaborate with companies that value sharing and supporting values.</p>
            </div>
            <div class="companies-list">
                <div class="company-item">
                    <h3 class="company-name">A&C Consulting Center</h3>
                    <p class="company-website">accc.ro</p>
                </div>
                <div class="company-item">
                    <h3 class="company-name">A&C Consulting Center</h3>
                    <p class="company-website">accc.ro</p>
                </div>
                <div class="company-item">
                    <h3 class="company-name">A&C Consulting Center</h3>
                    <p class="company-website">accc.ro</p>
                </div>
                <div class="company-item">
                    <h3 class="company-name">A&C Consulting Center</h3>
                    <p class="company-website">accc.ro</p>
                </div>
            </div>
        </section> 
    </section>


</section>

