<app-nav-bar></app-nav-bar>

<div class="return">
    <a class="return-link" href="mm#tables_id">Inapoi</a>
</div>

<div class="tabel">
    <table class="biblical-longevivs">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mere mortal</td>
                <td>120 years</td>
            </tr>
            <tr>
                <td>Nahor</td>
                <td>148 years</td>
            </tr>
            <tr>
                <td>Abraham</td>
                <td>175 years</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- footerul vine aici -->