
.banner img {
    width: 100%;
    height: auto;
}


header {
    color: black;
    padding: 10px 0;
    text-align: left;
    position: relative;
    margin-right:250px;
    margin-left: 250px;
}

header .login {
    position: absolute;
    right: 20px;
    top: 20px;
}

header .login a {
    color: black;
    text-decoration: none;
}


.banner{
    width: 100%;
    height: auto;
}

main {
    padding: 20px;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.scris {
    font-size: 40px;
    color: #333;
    margin-left: 20px;
    margin-right: 100px;
    flex: 1;
    text-align: left;
    font-weight: bold;
}

.scris1 {
    font-size: 20px;
    color: #333;
    margin-left: 20px;
    margin-right: 100px;
    flex: 1;
    text-align: left;
}

.column {
    flex: 1;
    padding: 10px;
}

.language-select {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.language-select select, .go-button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.language-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white;
}

.go-button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
}

.go-button:hover {
    background-color: #45a049;
}

.quotes-container {
    margin: 20px;
    padding: 10px;
    background-color: #f9f9f9; /* Light grey background for the quotes container */
    border-left: 5px solid #ccc; /* Adds a left border for style */
    border-radius: 5px; /* Optional: rounds the corners of the container */
}

.quote-item blockquote {
    font-style: italic; /* Makes the quote text italic */
    color: #555; /* Dark grey text color */
    padding: 10px 20px; /* Padding inside each quote */
    margin: 10px 0; /* Space between quotes */
    border-left: 3px solid #8a2be2; /* A colored line before the quote */
    background-color: #fff; /* White background for each quote */
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1); /* Adds a subtle shadow around each quote */
}

.quote-item {
    list-style-type: none; /* Removes bullet points */
}
