<app-nav-bar></app-nav-bar>
<header>
    <h1>Învățați o limbă</h1>
    <div class="login">
    </div>
</header>
    <section class="banner">
        <img src="../../assets/img/banner-learn.jpg" />
    </section>
    <main>
        <div class="content">
            <div class="column">
                <p class="scris">Fiecare limbă este o viziune specifică asupra Lumii care ne înconjoară.</p>
            </div>
            <div class="column">
                <p class="scris1">O „cutie" care îți limitează gândirea, oferind de multe ori o perspectivă îngustă, atașată unei prejudecăți cognitive. Învață să gândești în afara cutiei, încearcă să înțelegi cealaltă față a unei monede, partea întunecată a Lunii, în timp ce îți înfrumusețezi partea însorită a Sinelui.</p>
            </div>
        </div>
        <div class="language-select">
            <select [(ngModel)]="selectedLanguageId">
                <option *ngFor="let language of languages" [value]="language.id">{{ language.name }}</option>
            </select>
            <select [(ngModel)]="selectedLanguageId2">
                <option *ngFor="let language of languages" [value]="language.id">{{ language.name }}</option>
            </select>
            <button class="go-button" (click)="fetchQuotes()">GO</button>
        </div>
        <div *ngIf="quotes && quotes.length" class="quotes-container">
            <ul>
                <li *ngFor="let quote of quotes" class="quote-item">
                    <blockquote>{{ quote.original }}</blockquote>
                    <blockquote class="translation">{{ quote.translation }}</blockquote>
                </li>
            </ul>
        </div>
    </main>
<app-footer></app-footer>