    <app-nav-bar></app-nav-bar>
  <div class="mega-container">  
   <div class="login-container">
        <form action="/submit-your-login-form" method="POST">
            <h2>Welcome Back!</h2>
            <div class="input-group">
                <input type="email" id="email" name="email" required placeholder="Enter your email">
            </div>
            <div class="input-group">
                <input type="password" id="password" name="password" required placeholder="Enter your password">
            </div>
            <button type="submit">Sign In</button>
        </form>
    </div>
  </div>
    <app-footer></app-footer>


