<app-nav-bar></app-nav-bar>

<div class="return">
    <a class="return-link" href="mm">Inapoi</a>
</div>

<div class="tabel">
    <table class="life-expectancy">
        <thead>
            <tr>
                <th>Country</th>
                <th>&#9794; Male</th> <!-- Male sign -->
                <th>&#9792; Female</th> <!-- Female sign -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Country 1</td>
                <td>70.8</td>
                <td>75.3</td>
            </tr>
            <tr>
                <td>Country 2</td>
                <td>72.4</td>
                <td>78.1</td>
            </tr>
            <tr>
                <td>Country 3</td>
                <td>69.5</td>
                <td>74.8</td>
            </tr>
        </tbody>
    </table>
</div>