<app-nav-bar></app-nav-bar>

<div class="language-container">
  <h2>Select a Language</h2>
  <h2> <input type="file" (change)="onFileChange($event)"></h2>
 <h2><button (click)="sendDataToBackend()" [disabled]="!fileData">Upload and Send Data</button></h2> 
  <div *ngFor="let language of languages" (click)="selectLanguage(language.id)" class="language-card">
    {{ language.name }}
  </div>
</div>

<div *ngIf="selectedLanguageId" class="filter-buttons">
  <button (click)="showOriginalBooks()" [class.active]="isOriginalSelected">Original Book</button>
  <button (click)="showTranslatedBooks()" [class.active]="!isOriginalSelected">Translations</button>
</div>

<div *ngIf="books.length > 0" class="book-container">
  <h2 *ngIf="isOriginalSelected">Original Books in {{ getSelectedLanguageName() }}</h2>
  <h2 *ngIf="!isOriginalSelected">Translated Books in {{ getSelectedLanguageName() }}</h2>
   <a class="dropbtn" href="/add-book" style="text-decoration: none;">Add Bookr</a>

  <div *ngFor="let book of books" class="book-card" (click)="viewBookDetails(book.id)">
    <h3>{{ book.book_name }}</h3>
    <p>Author: {{ book.book_author }}</p>
  </div>
</div>

<div *ngIf="selectedLanguageId && books.length === 0" class="no-books-message">
  <p>No books available in this category.</p>
</div>

<app-footer></app-footer>
