<app-nav-bar></app-nav-bar>

<div class="return">
    <a class="return-link" href="mm#tables_id">Inapoi</a>
</div>

<div class="tabel">
    <table class="animals">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cocky Bennett</td>
                <td>120 years</td>
            </tr>
            <tr>
                <td>Eastern box turtle</td>
                <td>135 years</td>
            </tr>
            <tr>
                <td>Timothy</td>
                <td>165 years</td>
            </tr>
        </tbody>
    </table>
</div>