<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- <meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
		<title>Banaterra</title>

    <section class="banner">
			<img src="../../assets/img/banner_topics.jpg" />
    </section>

	</head>
	<body>
		<br>
		<div class="button-container">
			<div class="button-column">
			  <button>Bătălie</button>
			  <button>Dragoste</button>
			  <button>Prietenie</button>
			  <button>Suflet</button>
			</div>
		  
			<div class="button-column">
			  <button>Credință</button>
			  <button>Fericire</button>
			  <button>Reamintire</button>
			  <button>Timp</button>
			</div>
		  
			<div class="button-column">
			  <button>Cunoaștere de sine</button>
			  <button>Individualitate</button>
			  <button>Sănătate</button>
			  <button>Viață</button>
			</div>
		  
			<div class="button-column">
			  <button>Cunoașterea naturii umane</button>
			  <button>Înțelepciune</button>
			  <button>Singurătate</button>
			  <button>Viața de zi cu zi</button>
			</div>
		  
			<div class="button-column">
			  <button>Decizie</button>
			  <button>Libertate</button>
			  <button>Succes</button>
			</div>
		  </div>		
		  <br>

		  <div class="topics-container">
			<h2 id="myHeader">Artă, literatură, estetică </h2> <!-- Aici am modificat din "Subiecte"-->
			<div class="topic">
			  <app-quote> </app-quote>
			</div>
		  </div>
	</body>
</html>