
    <section class="banner">
			<img src="../../assets/img/banner_topics.jpg" />
    </section>

		<br>
		<div class="button-container">
			<div class="button-column">
			  <button (click)="selectQuote(0)">Bătălie</button>
			  <button (click) = "selectQuote(1)">Dragoste</button>
			  <button>Prietenie</button>
			  <button>Suflet</button>
			</div>
		  
			<div class="button-column">
			  <button>Credință</button>
			  <button>Fericire</button>
			  <button>Reamintire</button>
			  <button>Timp</button>
			</div>
		  
			<div class="button-column">
			  <button>Cunoaștere de sine</button>
			  <button>Individualitate</button>
			  <button>Sănătate</button>
			  <button>Viață</button>
			</div>
		  
			<div class="button-column">
			  <button>Cunoașterea naturii umane</button>
			  <button>Înțelepciune</button>
			  <button>Singurătate</button>
			  <button>Viața de zi cu zi</button>
			</div>
		  
			<div class="button-column">
			  <button>Decizie</button>
			  <button>Libertate</button>
			  <button>Succes</button>
			</div>
		  </div>		
		  <br>

		  <div class="topics-container" *ngIf="currentQuote">
			<h2 id="myHeader">Artă, literatură, estetică </h2> <!-- Aici am modificat din "Subiecte"-->
			<div class="topic">
			  <app-quote [quote] = "currentQuote"> </app-quote>
			</div>
		  </div>
