<app-nav-bar></app-nav-bar>
<div class="Title-above-photo">
  <h1>Memento Mori</h1>
</div>

<div class="background_photo">
  <img src="../../assets/img/banner-mm.jpg"/>
</div>

<div class="content">
  <div class="left">
      <h5 class="left_h5">Nu uita că vei muri. Trăiești acum, ca întotdeauna, în prezentul continuu nemărginit.</h5>
  </div>
  <div class="right">
      <p class="right_p">Studiază diferite puncte de vedere si găseste numitorul comun. Incercă întotdeauna sã vezi imaginea de ansamblu. Aceastã pagina este doar un exemplu matematic, cât se poate de personal. Date brute din perspective diametral opuse. Concentreaza-te pe linia subtire în care se intersecteazã "a fi sau a nu fi". Filosofia este pragmatismul omului.</p>
      <p class="right_p">Prezenta de spirit poate fi mereu prezent, in prezent. Acesta este starea de flow, mindfulness.</p>
      <p class="right_p">O secunda frumos petrecuta este o secunda care nu este irosita. Crescând calitatea creste cantitatea. Investeste in tine insuti. Cunoaste-te pe tine insuti. Te ajuti pe tine, ajutând pe cel de lângã. Nu existã altii.</p>
  </div>
</div>

<section class="no_account">
  <div class="row sect-padding">
      <div class="col-md-12">
          <div class="auth-message">
              <h5>Nu esti autentificat.</h5>
              <a href="mm">Login</a> <!-- aici va fi introdus link-ul catre pagina de login -->
          </div>
      </div>
  </div>
</section>


<div class="time_spent">
  <h5>Timpul petrecut pe acest pamant</h5>
</div>

<div class="time_left">
  <h5>Timpul care ti-a ramas</h5>
</div>

<div class="table-container">
  <table class="old_people">
    <thead>
      <tr>
          <th>Name</th>
          <th>Age</th>
      </tr>
  </thead>
  <tbody>
    <tr>
      <td>Barbat</td>
      <td>75 years</td>
  </tr>
  <tr>
      <td>Femeie</td>
      <td>80 years</td>
  </tr>
  </tbody>
  </table>
</div>

<div class="tables" id="tables_id">
  <a href="life-expectancy">life-expectancy</a>
  <a href="biblical-longevivs">biblical-longevivs</a>
  <a href="animals">animals</a>
  <a href="plants">plants</a>
</div>

<!-- codul de mai jos trebuie inlocuit cu componenta footer -->

<footer class="site-footer">
    <div class="footer-container">
      <div class="footer-columns">
        <div class="Join-us">
            <h1>Fa parte din<br>lumea<br>BanaTerra</h1>
        </div>

        <div class="footer-column">
          <h3>About</h3>
          <p>Inregistreaza-te si apartine comunitatii BanaTerra pentru a avea acces la caracteristici si continut exclusiv.</p>
        </div>
        <div class="footer-column">
            <h3>Sitemap</h3>
            <ul>
              <li><a href="#">Authors</a></li>
              <li><a href="#">Topics</a></li>
              <li><a href='#'>Learn</a></li>
            </ul>
          </div>
        <div class="footer-column">
          <h3>Contact</h3>
          <ul>
            <li><a href="#">contact&commat;bterra.ro</a></li>
            <li><a href="#">+40735462000</a></li>
            <li><a href='#'>Str. Timotei Cipariu,</a></li>
            <li><a href='#'>nr.1, ap.2, Timisoara, RO</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Follow Us</h3>
          <ul>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Youtube</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
