<nav>
   <div class="log-in-logo">
    <img [src]="logoPath" alt="sorry" class="img">
    <div class="login-user">
       <img [src]="userPhoto" alt="" class="user-img">
       <button class="btn">Log in</button>
    </div>
  </div>
  <ul class="menu">
     <a href="">
        <li>Home</li>
    </a>
 <a href="">
        <li>Authors</li>
     </a>
     <a href="">
        <li>Topics</li>
     </a>
     <a href="">
        <li>MM</li>
     </a>
     <a href="">
        <li>Learn</li>
     </a>
  </ul>
</nav>
