* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 8rem;
  font-size: 1.5rem;
  background-color: rgb(233, 222, 222);
  position: -webkit-sticky;
}
.img {
  height: 2.5rem;
  width: auto;
  border-radius: 10px;
  margin-right: 2rem;
}
.btn {
  text-decoration: none;
  background-color: #d9534f;
  border-radius: 7px;
  padding: 0.5rem 0.75rem;
  transition: all;
  transition-timing-function: ease-in-out;
  border: none;
  text-align: center;
  transition-duration: 0.2s;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.user-img {
  height: 1.5rem;
  width: auto;
  margin-right: 0.5rem;
  margin-top: 0.25rem;
}
.login-user {
  display: flex;
  margin-left: 1rem;
}
nav .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.log-in-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: black;
}
.menu > li {
  list-style: none;
  margin-left: 2rem;
  transition-duration: 0.1s;
}
.menu > li:hover {
  border-bottom: 1px solid black;
  cursor: pointer;
}
#language-select {
  appearance: none; /* remove default appearance set by the browser */
  outline: none; /* remove the outline shown on focus */
  cursor: pointer; /* change the mouse cursor icon */
  color: black; /* text color */
  background-color: #d9534f;
  border: none;
  border-radius: 5px; /* round the border corners */
  height: 2.15rem;
  text-align: center;
  width: 100%;
}
.drop-down {
  display: flex;
  align-items: center;
  position: relative;
  width: 9rem;
  cursor: pointer;
}
.drop-down .icon-container {
  width: 1.5rem;
  height: 100%;
  position: absolute;
  right: 0;
 background-color: #b53a36;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
