<app-nav-bar></app-nav-bar>
<div class="author-details" *ngIf="author">
  <div class="author-header">
    <h2>{{ author.name }}</h2>
    <div [innerHtml]="sanitizedDescription"></div>
    <p><strong>Born:</strong> {{ author.b_date | date:'longDate' }}</p>
    <p><strong>Died:</strong> {{ author.d_date | date:'longDate' }}</p>
  </div>
  <div *ngIf="quoteCounts.length" class="language-buttons-container">
    <button class="language-button" *ngFor="let count of quoteCounts" (click)="fetchAuthorDetails(authorId, mapLanguageToCode(count.language))">
      {{ count.language }} ({{ count.count }})
    </button>
  </div>
  
  <div class="author-quotes" *ngIf="sanitizedQuotes.length > 0">
    <h3>{{ getQuotesHeading() }}</h3>
    <ul>
      <li *ngFor="let quote of sanitizedQuotes" [innerHtml]="quote"></li>
    </ul>
  </div>
</div>
<app-footer></app-footer>
