<app-nav-bar></app-nav-bar>
<header>
        <h1>Donate</h1>
    </header>
    <section class="banner">
        <img src="../../assets/img/banner-donate.jpg" />
    </section>

    <main>
        <section class="donation-info">
            <p>Donatiile sunt esentiale pentru sustinerea si dezvoltarea continua a proiectului nostru. Suntem profund recunoscatori pentru sprijinul celor care cred in misiunea noastr si suntem determinati sã folosim fiecare resursa pentru a face proiectul nostru mai puternic si mai eficient, contribuind astfel la un vitor mai promitator pentru toti cei implicati.</p>
        </section>
        <section class="donation-methods">
            <h2>Poti face asta in mai multe moduri:</h2>
            <ul>
                <li>Daruieste influenta si dã sfoara-n tarã.</li>
                <li>Oferă energie si fii partener.</li>
                <li>Daruieste cunostinte si contribuie la cresterea comunitatii.</li>
            </ul>
        </section>
        <section class="association-info">
            <h2>Asociația Banaterra</h2>
            <p>R088BTRLRONCRT0665692001</p>
            <a href="#" class="donate-button">Click here →</a>
        </section>
        <section class="thank-you">
            <h2>Vã multumim pentru timp, atentie, energie.</h2>
            <p>Vã multumim cã sunteti Aici. In prezent. Pentru totdeauna.</p>
        </section>
<app-footer></app-footer>