/* General styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Header styles */
header {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

.header-links {
  display: flex;
  gap: 10px;
}

.dropbtn {
  background-color: #fff;
  color: #007bff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
}

.dropbtn:hover {
  background-color: #e9ecef;
}

/* Main content styles */
main {
  padding: 20px;
}

.authors {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.author {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(25% - 20px);
  cursor: pointer;
  transition: transform 0.2s;
}

.author:hover {
  transform: scale(1.05);
}

.author img {
  width: 100%;
  height: auto;
  margin-top: 0.25rem;
  border-radius: 7px; 
  margin-left: 3.25rem;
}

.author h2 {
  font-size: 1.5em;
  margin: 10px;
  text-align: center;
}

.author div {
  padding: 10px;
  font-size: 1em;
  color: #666;
}

/* Pagination styles */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  gap: 5px;
}

.pagination-arrow {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

.pagination-arrow:hover {
  background-color: #0056b3;
}

.current-page {
  font-weight: bold;
  background-color: #0056b3;
}

/* Banner styles */
.banner img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}

/* Footer styles */
footer {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}
