<app-nav-bar></app-nav-bar>
<header>
  <h1>Authors</h1>
  <div class="header-links">
    <div class="dropdown">
      <button (click)="toggleViewAll()" class="dropbtn">
        {{ isViewAll ? 'View Less' : 'View All' }}
      </button>
    </div>
    <a class="dropbtn" href="/add-authors">Add Author</a>
  </div>
</header>

<main>
  <div class="authors">
    <div *ngFor="let author of getDisplayedAuthors()" (click)="selectAuthor(author.id)" class="author">
      <img src="../../assets/img/test.jpg" [alt]="author.name">
      <h2>{{ author.name }}</h2>
      <div [innerHtml]="author.des"></div> <!-- Use a div to properly handle innerHTML -->
    </div>
  </div>
</main>

<div class="pagination-container" *ngIf="isViewAll && !selectedAuthor">
  <div class="pagination">
    <a (click)="setFirstPage()" class="pagination-arrow"> << </a>
    <a *ngIf="currentPage > 1" (click)="setPreviousPage()" class="pagination-arrow"> < </a>
    <a *ngFor="let page of getVisiblePages()"
       [ngClass]="{ 'current-page': page === currentPage }"
       (click)="setPage(page)" class="pagination-arrow">{{ page }}</a>
    <a *ngIf="currentPage < getTotalPages()" (click)="setNextPage()" class="pagination-arrow"> > </a>
    <a (click)="setLastPage()" class="pagination-arrow"> >> </a>
  </div>
</div>

<section class="banner">
  <img src="../../assets/img/banner_despre.jpg" alt="Banner">
</section>
<app-footer></app-footer>
