<app-nav-bar></app-nav-bar>
<div class="Title-above-photo">
  <h1>Memento Mori</h1>
</div>

<img src="../../assets/img/banner-mm.jpg" style="width: 100%; height: auto;" />

<div class="content">
  <div class="left">
    <h5>Nu uita că vei muri. trăiești acum, ca întotdeauna, în prezentul continuu nemărginit</h5>
  </div>
  <div class="right">
    <p>Studiază diferite puncte de vedere si găseste numitorul comun. Incercă întotdeauna sã vezi imaginea de ansamblu. Aceastã pagina este doar un exemplu matematic, cât se poate de personal. Date brute din perspective diametral opuse. Concentreaza-te pe linia subtire în care se intersecteazã "a fi sau a nu fi". Filosofia este pragmatismul omului</p>
    <p>Prezenta de spirit poate fi mereu prezent, in prezent. Acesta este starea de flow, mindfulness.</p>
    <p>O secunda frumos petrecuta este o secunda care nu este irosita. Crescând calitatea creste cantitatea. Investeste in tine insuti. Cunoaste-te pe tine insuti. Te ajuti pe tine, ajutând pe cel de lângã. Nu existã altii.</p>
  </div>
</div>

<main>
  <section class="time-info">
    <h2>Timpul tău petrecut pe pământ</h2>
    <p>43 years, 7 months, 12 days, 14 hours, 46 minutes and 41 seconds</p>
    <h2>Timpul estimat de sosire la următorul destin</h2>
    <p>28 years, 10 months, 17 days, 9 hours, 13 minutes and 19 seconds</p>
    <select>
      <option>Comparați cu</option>
    </select>
  </section>
  <section class="table-section">
    <div class="table-wrapper">
      <div class="table-header">
        <h2></h2>
      </div>
      <button (click)="toggleShowAll()" class="toggle-button">
        {{ showAll ? 'Show less' : 'Show more' }}
      </button>
      <table>
        
        <thead>
          <tr>
            <th>Nume</th>
            <th>Specia</th>
            <th>Varsta</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plants of displayedPlants">
            <td>{{ plants.name }}</td>
            <td>{{ plants.det }}</td>
            <td>{{ plants.age }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>

<app-footer></app-footer>

