<app-nav-bar></app-nav-bar>

<div class="return">
    <a class="return-link" href="mm#tables_id">Inapoi</a>
</div>

<div class="tabel">
    <table class="plants">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Italus</td>
                <td>1,200 years</td>
            </tr>
            <tr>
                <td>Algarrobo Abuelo</td>
                <td>1,200 years</td>
            </tr>
            <tr>
                <td>Te Matua Ngahere</td>
                <td>1,300 years</td>
            </tr>
        </tbody>
    </table>
</div>